<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 text-center">
            <%= render 'shared/errors' %>
            <%= form_with(model: @article, class: "shadow p-4 mb-4 bg-light rounded",local: true) do |f| %>
                <div class="form-group row">
                    <%= f.label :title, class: "col-2 col-form-label"%><br>
                    <div class="col-10">
                        <%= f.text_field :title, class: "form-control shadow rounded bg-navy",id: "formGroupExampleInput", placeholder: "Title should be 6 chars min"%>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <%= f.label :description, class: "col-2 col-form-label"%><br>
                    <div class="col-10 ">
                        <%= f.text_area :description, rows: 5, class: "form-control shadow rounded",id: "formGroupExampleInput", placeholder: "Description should be 300 chars min"%>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <%= f.submit class: "btn btn-outline-dark btn-lg shadow rounded"%>
                </div>
            <% end %>
        </div>
        <div  class="mb-3 text-center">
            <%= link_to 'Cancel and return Articles list', articles_path, class: "text-decoration-none text-black" %>
        </div>
    </div>
</div>