<h1>Showing articles</h1>
<p><strong>Title:</strong> <%= @article_show.title %></p>
<p><strong>Description:</strong> <%= @article_show.description %></p>
<%= link_to 'Edit Article', edit_article_path(@article_show) %> | 
<%= link_to 'Delete Article', article_path(@article_show), method: :delete, data: {confirm: "You sure?"} %> | 
<%= link_to 'Articles list', articles_path %>
